/*Error Pages*/
.error-container .page-error {
  margin-top: 80px;
  margin-bottom: 40px;
}
.error-container .page-error h3 {
  color: #FFF;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
.error-container .page-error .number {
  color: #FFF;
  font-size: 150px;
  font-family: Arial;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
.error-container .page-error .description {
  color: #FFF;
  font-size: 40px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
